body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

.global-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgb(68, 164, 82);
  background: linear-gradient(
    0deg,
    rgb(113, 227, 130) 0%,
    rgba(33, 111, 20, 0.9925012241224614) 100%
  );
}

.welcome-msg {
  padding: 0 10px;
  color: white;
  font-family: "Cookie", cursive;
  font-size: 20px;
}

.social-icon {
  padding: 0 10px;
}

/* .socials {
  display: flex;
  gap: 10px;
} */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.nav-logo {
  padding: 0 10px;
  color: rgb(252, 250, 250);
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 0 10px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.nav-link a:hover {
  cursor: pointer;
  color: grey;
}

.hero {
  min-height: 400px;
}

.section {
  background-image: url("./images/bg.jpg");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(10, 10, 10);
}

.hero-content h3 {
  margin: 0;
}

.hero-content {
  text-align: center;
  background-color: rgb(197, 238, 192);
  opacity: 0.5;
  border-radius: 10px;
  padding: 10px;
}

.recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 15px;
  margin: 0;
  color: white;
  font-family: "Cookie", cursive;
  font-size: 28px;
  background: rgb(68, 164, 82);
  background: linear-gradient(
    0deg,
    rgb(113, 227, 130) 0%,
    rgba(33, 111, 20, 0.9925012241224614) 100%
  );
}

.container {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
/* .posts {
  display: flex; 

} */

/* article {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
} */
.posts {
  padding-top: 20px;
  background-image: url("./images/pattern1.png");
  background-repeat: repeat;
}

article {
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(207, 244, 161);
  box-shadow: 10px 5px 8px rgb(75, 73, 73);
}
.art-img {
  width: 100%;
  margin-right: 10px;
}

.art-img img {
  border-radius: 10px 10px 0 0;
}

.tittle {
  font-size: 20px;
  font-weight: 900;
}

/* .side-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
} */

.side-links {
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}
.country {
  padding: 0 10px;
}

.country h3 {
  margin-top: 0;
}

.date {
  padding: 0 10px;
}

.date h3 {
  margin-top: 0;
}

.btn {
  width: 100%;
  padding: 10px 5px;
  border-style: none;
  border-radius: 5px;
  background-color: green;
  font-size: 16px;
}

.card-section {
  background-image: url("./images/pattern3.jpg");
  background-repeat: repeat;

  /* background-color: rgb(163, 186, 163); */
}

.card-list {
  padding-top: 20px;
}

/* .card-list {
  display: flex;
  justify-content: space-between;
} */

.card {
  width: 80%;
  margin: auto;
  background: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 8px rgb(75, 73, 73);
  border-radius: 10px;
}

.card img {
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.btn-card {
  background-color: green;
  font-size: 18px;
  padding: 8px 6px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.gallery {
  display: flex;
  height: 30px;
  justify-content: center;
  color: white;
  padding: 15px;
  margin: 0;
  background: rgb(68, 164, 82);
  background: linear-gradient(
    0deg,
    rgb(113, 227, 130) 0%,
    rgba(33, 111, 20, 0.9925012241224614) 100%
  );
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;
  background-image: url("./images/pattern1.png");
}

input {
  display: block;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 5px;
}
.sub-btn {
  display: block;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
}

footer {
  height: 30px;

  background: rgb(68, 164, 82);
  background: linear-gradient(
    0deg,
    rgb(113, 227, 130) 0%,
    rgba(33, 111, 20, 0.9925012241224614) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  color: white;
  font-family: "Cookie", cursive;
  font-size: 20px;
}

span {
  font-size: 44px;
  margin-top: 22px;
}

@media (min-width: 400px) and (max-width: 820px) {
  .posts-content {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 820px) {
  .posts-content {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  form {
    display: flex;
    flex-direction: row;
  }
  input {
    padding: 8px;
    align-items: center;
    margin: 0;
    margin-right: 12px;
  }
  .sub-btn {
    padding: 8px;
    align-items: center;
    margin-right: 12px;
  }
}
