body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

.global-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgb(68, 164, 82);
  background: linear-gradient(
    0deg,
    rgb(113, 227, 130) 0%,
    rgba(33, 111, 20, 0.9925012241224614) 100%
  );
}

.welcome-msg {
  padding: 0 10px;
  color: white;
  font-family: "Cookie", cursive;
  font-size: 20px;
}

.social-icon {
  padding: 0 10px;
}

/* .socials {
  display: flex;
  gap: 10px;
} */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.nav-logo {
  padding: 0 10px;
  color: rgb(252, 250, 250);
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 0 10px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.nav-link a:hover {
  cursor: pointer;
  color: grey;
}

.hero {
  min-height: 400px;
}

.section {
  background-image: url("./images/bg.jpg");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(10, 10, 10);
}

.hero-content h3 {
  margin: 0;
}

.hero-content {
  text-align: center;
  background-color: rgb(197, 238, 192);
  opacity: 0.5;
  border-radius: 10px;
  padding: 10px;
}

.recommendation {
  margin-left: 10px;
}

.container {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}
.posts {
  display: flex;
  /* width: 80%;
  margin: auto; */
}

.posts-content {
  width: 60%;
  margin-right: 20px;
}

article {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
}

.art-img {
  width: 600px;
  margin-right: 10px;
}

.art-content {
}

.tittle {
  font-size: 20px;
  font-weight: 900;
}

.side-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.country {
  padding: 0 10px;
}

.country h3 {
  margin-top: 0;
}

.date {
  padding: 0 10px;
}

.date h3 {
  margin-top: 0;
}

.card-section {
  margin-top: 20px;
  padding: 0 10px;
  background-color: rgb(221, 248, 196);
}

.card-list {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  min-height: 300px;
  background: white;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px 5px rgb(123, 119, 119);
}

.card img {
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.btn-card {
  background: gray;
  font-size: 18px;
  padding: 8px 6px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 35px;
  background: rgb(68, 164, 82);
  background: linear-gradient(
    0deg,
    rgb(113, 227, 130) 0%,
    rgba(33, 111, 20, 0.9925012241224614) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
